<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.mconf.bbb.android" android:versionName="0.2" android:versionCode="2">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- used on RtpStreamReceiver to disable wi-fi sleep -->
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<application android:name=".BigBlueButton" android:label="@string/app_name" android:icon="@drawable/icon_bbb">
		<activity android:name=".LoginPage" android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ServerChoosing" />
		<activity android:name=".Client" android:launchMode="singleTask" android:alwaysRetainTaskState="true"  android:configChanges="orientation|keyboardHidden">
			<intent-filter>
			    <data android:scheme="@string/protocol" />
			    <action android:name="android.intent.action.VIEW" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
		</activity>
		<activity android:name=".PrivateChat" android:launchMode="singleInstance" android:configChanges="orientation|keyboardHidden" > 
		</activity>
		<activity android:name=".video.VideoFullScreen" android:configChanges="keyboardHidden" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>		

	</application>
	<supports-screens  android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" />

	
	<uses-sdk android:minSdkVersion="4" />


</manifest> 